/**
 * Blog Card
 * =================================
 * - Photo Header
 *
 *
 *
 *
 *
 */

.blog-card {
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.featured-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .featured-card img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
  }
}
