/**
 * Forms
 * =================================
 * This mostly is here to overwrite GF styles
 *
 *
 *
 *
 */

// Not my class names, sooo....
/* stylelint-disable selector-max-id, selector-max-compound-selectors, selector-class-pattern */

.gform_title,
.gform_description {
  display: none;
}

.ginput_container .ginput_container_date input {
  margin: 0 auto;
  text-align: center;
}

.gfield_consent_label {
  a {
    text-decoration: underline;
  }
}

.gform_wrapper.gravity-theme .gfield_consent_description {
  border: 0 !important;
  margin-top: 0 !important;
}

.gform_body input {
  background-color: #eeeeee;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #333333;
}

.gform_body input:focus {
  border: 1px solid #234058;
  outline: none !important;
}

.gform_wrapper .gfield_required {
  color: #234058 !important;
}

.gform_body input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.gform_button {
  border: 2px solid #333333;
  border-radius: 20px;
  color: #333333;
  cursor: pointer;
  font-weight: 800;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: 0.3s;
}

.gform_button:hover {
  background-color: #234058;
  color: #eeeeee;
}

/* stylelint-enable selector-max-id, selector-max-compound-selectors, selector-class-pattern */
