/*
 * Navbar SCSS
 * ---------------------------
 * This is the scss file to control the styles of the navbar.
 * A few stylelint rules had to be disabled as navbar's merit them
 * Most of the "settings" are at the top, but dig around to change more specific things.
 * This is mobile first, so if you're trying to make changes to desktop, scroll to the bottom.
 *
*/

/*
* LEFT ALIGN NAV? (on desktop)
*
* Enable the comment in the main <nav> element
* in the DESKTOP QUERY of nav-list > li:last-of-type, delete the position. It's commented.
*
* (see Left Align notes in document)
*
*/

// Turn off Stylelint settings
/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-max-id, no-duplicate-selectors */

// Navbar quick settings
$content-width: 2000px; // How wide or narrow do you want the bar to be?
$breakpoint: 1101px; // When do you want to switch from mobile to desktop?
$nav-height: 85px; // How tall do you want the navbar to be?
$nav-background: #333333; // What background color do you want?
$nav-font-color: #fafafa; // What primary font color?
$link-hover-color: #7498be; // What color when you hover?
$button-color: #fafafa; // What background color do you want the button to be?
$button-hover-color: #eaeaea; // What hover color do you want the button to be?

// Sets the initial height and color of the navbar
.navigation {
  background: $nav-background;
  height: $nav-height;
}

// This is the container that is one layer under the navbar.
.nav-container {
  margin: 0 auto;
  max-width: $content-width;
}

// Logo and branding
.brand {
  float: left;
  padding-left: 10px;
  position: absolute;
  text-transform: uppercase;
  z-index: 15;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }

  // If you change your navbar height, you may need to adjust this.
  img {
    height: 75px;
    padding-right: 15px;
    padding-top: 10px;
  }
}

// JS handles this, but this is the class that controls what color the top level UL stays when clicked.
.active-dropdown {
  background-color: $link-hover-color;
}

.nav-dropdown {
  position: static;
}

// Binds to JS Toggle
.nav-mobile {
  background: $nav-background;
  height: $nav-height;
  position: absolute;
  right: 0;
  top: 0;
  width: $nav-height;
}

// Main Navigation Controls
nav {
  align-items: center;
  background-color: $nav-background;
  display: block;
  float: none;
  justify-content: center;
  padding: $nav-height 0 0;
  position: absolute;
  width: 100%;
  z-index: 10;
  ul {
    display: none;
    li {
      float: none;
      position: relative;
      text-transform: uppercase;
      a,
      a:visited {
        color: $nav-font-color;
        display: block;
        line-height: 20px;
        padding: 15px;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: #eeeeee;
        }

        &:not(:only-child):after {
          content: " ▾";
          padding-left: 4px;
        }
      }

      // Dropdown list
      ul li {
        min-width: 190px;
        a {
          line-height: 20px;
          padding-left: 30px; //changes how far indented the subnav links are
        }
      }

      li:nth-child(even) {
        background-color: #494949;
      }
      li:nth-child(odd) {
        background-color: #404040;
      }
    }
  }
}

// Hamburger Menu and animation
#nav-toggle {
  cursor: pointer;
  left: 18px;
  padding: 10px 35px 16px 0;
  position: absolute;
  top: 28px;

  span,
  span:before,
  span:after {
    background: $nav-font-color;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 35px;
  }

  span:after {
    margin-left: 10px;
    width: 25px;
  }

  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      margin: 0;
      transform: rotate(-45deg);
      width: 35px;
    }
  }
}

// DESKTOP STYLES

@media screen and (min-width: $breakpoint) {
  // Hamburger nav hidden on desktop
  .nav-mobile {
    display: none;
  }

  .nav-list {
    display: block !important;
    z-index: 10;
  }

  nav {
    position: relative;
  }

  // Dropdown list binds to JS toggle event
  .nav-dropdown {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
    position: absolute;
    z-index: 1;
  }

  // Navigation
  nav {
    display: flex;
    // LEFT ALIGN? ENABLE THIS
    //justify-content: flex-end;
    padding: 0;
    position: relative;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        a,
        a:visited {
          line-height: $nav-height;
          padding: 0 20px;

          &:not(:only-child):after {
            content: " ▾";
            padding-left: 4px;
          }
        }

        // Dropdown list
        ul li {
          a {
            padding: 15px;
          }
        }
      }
    }
  }
}

// Takes whatever the last item in the list is and makes it a button
.nav-list > li:last-of-type {
  align-self: center;
  background-color: $button-color;
  color: #333333;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

.nav-list > li:last-of-type a {
  background-color: rgba(0, 0, 0, 0);
  color: #234058;
  font-weight: 600;
  padding: 8px 20px 15px;
}

// Icon Control
.nav-list > li:last-of-type i {
  font-size: 1.6em;
  position: relative;
  top: 3px;
}

.nav-list > li:last-of-type:hover a {
  background-color: rgba(0, 0, 0, 0);
  color: #234058;
}

.nav-list > li:last-of-type:hover {
  background: $button-hover-color;
}

.nav-list > li:last-of-type:active {
  transform: scale(1.025);
}

// When not in hamburger menu
@media screen and (min-width: $breakpoint) {
  .nav-list > li:last-of-type {
    border-radius: 20px;
    margin-left: 6px;
    margin-right: 10px;
    margin-top: 22px;
    // LEFT ALIGN? DELETE THE POSITION
    position: absolute;
    right: 0;
  }

  .nav-list > .nav-list > li:last-of-type a {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-list > li:last-of-type:hover a {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-list > li:last-of-type a,
  .nav-list > li:last-of-type a:visited {
    line-height: 8px;
    padding: 15px 20px;
  }
}

// Turn Stylelint settings back on
/* stylelint-enable max-nesting-depth, selector-max-compound-selectors, selector-max-id, no-duplicate-selectors */
