/assets/public
.cache/
node_modules
.idea
.DS_Store
*.woff
*.woff2
.pnp.*
.env
.env.local
.env.*.local
/vendor/
/.cache/php-cs-fixer/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions