/**
 * Front-end CSS
 * =================================
 * This file is what webpack actually renders out. It will contain an @use for all SCSS / Tailwind Files.
 * This file should be kept clean and free of loose edits. If it doesn't start with @use, it doesn't go here.
 *
 *
 */

@use 'components/main';
@use 'fonts/fonts.css';
@use 'components/navbar';

// This section adds tailwind, but @tailwind isn't recognized so we have to suppress stylelint.

/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */
